<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<div ng-app="events" ng-controller="events">

	<table>
		<thead>
			<tr>
				<th>Languages</th>
				<th>Likes</th>
				<th>Dislikes</th>
				<th>Like/Dislike</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tech in tech">
				<td>{{tech.name}}</td>
				<td>{{tech.like}}</td>
				<td>{{tech.dislike}}</td>
				<td>
					<input type="button" value="Like" ng-click="increment_likes(tech)">
					<input type="button" value="Dislike" ng-click="decrement_likes(tech)">
				</td>
			</tr>
		</tbody>
	</table>
</body>
</div>
<script type="text/javascript">
	
	var module= angular.module("events", []);
	var controllers= function($scope){
		var tech=[
			{
				name: "Java", 
				like: 0,
				dislike: 0
			},
			{
				name: "javascript", 
				like: 0,
				dislike: 0
			},
			{
				name: "PHP", 
				like: 0,
				dislike: 0
			},
		];

	
		$scope.tech=tech;
		$scope.increment_likes=function(technology){

			technology.like ++;
		} 
		$scope.decrement_likes=function(technology){

			technology.dislike ++;
		} 
	};

		module.controller("events", controllers);
</script>
</html>