<!DOCTYPE html>
<html>
<head>
	<title>Welcome to tuni chat</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.min.css">
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="../node_modules/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="script/main.js"></script>
</head>


<body ng-app="join_body" ng-controller="join_body_controller">
	<md-toolbar>
		<h1>Welcome to tuni chat</h1>
	</md-toolbar>
	<md-content layout="row" layout-align="center center" flex="100">

	<!-- MD tabs tells angular material that i want to create the tabs . 

		Inside this i need to create the tabs and contect with enclosing mdtab applying lebel and inside child will be the contents 
	-->
	<div flex="30" style="background-color: #e5dfda">
		<md-tabs style="width: 100%" md-dynamic-height md-border-bottom layout-margin>
		<!-- This is the tab for login . I need few information about this one 
		-->

			<md-tab label="Login" layout="column">
				<md-input-container>
					<label>Email</label>
					<input type="email" ng-model="login_mail" name="login_mail" required>
					<p>{{email_error}}</p>
				</md-input-container>
					<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="login_pass" name="login_pass" required>
					<p>{{pass_error}}</p>
				</md-input-container>
				<br>
				<md-input-container>
					<md-button class="md-raised" ng-click="login()" class="md-primary" name="login" >Login</md-button>
				</md-input-container>
			</md-tab>
			<md-tab label="Signup">
					<md-input-container>
						<label>First Name</label>
						<input type="name" ng-model="first_name" name="first_name" required>
					</md-input-container>
					<md-input-container>
						<label>Lase Name</label>
						<input type="name" ng-model="last_name" name="last_name" required>
					</md-input-container>
					<md-input-container>
						<label>Email</label>
						<input type="email" ng-model="signup_mail" name="signup_mail" required>
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input type="password" ng-model="signup_pass" name="signup_pass" required>
					</md-input-container>
					<md-input-container>
						<label>Retype Password</label>
						<input type="password" ng-model="retype_pass" name="retype_pass" required>
					</md-input-container>
					<br>
					<md-container>
						<md-button class="md-raised" ng-click="signup(this)" class="md-primary" name="signup">Signup</md-button>
					</md-container>
			</md-tab>
		</md-tabs>
	</div>
	</md-content>

<div ng-controller="join_body_controller"></div>
</body>
</html>